/*----------------------------------------------*\
               $POPULAR POSTS WIDGET
\*----------------------------------------------*/

.wpgrade_popular_posts {
    @extend %separator--section;
    padding-bottom: 0;

    .widget__title {
        margin-bottom: 0;
    }

    .tabs__content {
        @include rem(margin-bottom, $_u2);
        // @include rem(margin-right, -$_u);

		.article--list img {
			max-width: 74px;
            max-height: 54px;
		}
    }

}

.popular-posts__time {
    @extend .tabs__nav;
}