/*------------------------------------*\
              SHAME
\*------------------------------------*/


img[width], img[height] {
    max-width: 100%;
    height: auto;
}

.block-list--alt {
    border-top-width: 0;
    margin-top: 0;
    @include rem(margin-bottom, -$_u2);

    > li {
        border-bottom-width: 0;
        padding: 0;
        @include rem(padding-bottom, $_u2);

        + li {
            border-top-width: 1px;
            @include rem(padding-top, $_u2);
        }
    }
}


/*----------------------------------*\
               FEATURED
\*----------------------------------*/

@-webkit-keyframes post-format-icon-border {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(-360deg) rotateY(-270deg) scale(0.5);
    }
    60% {
        -webkit-transform: rotateX(-120deg) rotateY(-30deg) scale(1.25);
    }
    75% {
        -webkit-transform: rotateX(30deg) rotateY(15deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

@-webkit-keyframes post-format-icon-background {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

.post-format-icon {
    // box
    position: absolute;
    top: 50%; left: 50%;
    z-index: 50;
    @include rem(width, 102px);
    @include rem(height, 102px);
    @include rem(margin-top, -57px);
    @include rem(margin-left, -51px);

    // icon
    @include rem(font-size, 41px);
    line-height: 2.3;
    color: white;
    text-align: center;
    @include transform(translateZ(0));

    // background
    background-color: rgba(white, .25);
    background-clip: content-box;
    border: 0px solid transparent;
    @include rem(border-width, 5px);

    // border
    @include box-shadow(0 0 0 rem(5px) white);

    // opacity: 0;
    border-radius: 50%;
    pointer-events: none;

    .icon-camera { @include rem(margin-left, 2px); }
    .icon-play { @include rem(margin-left, 8px); }
}

.post-format-icon--featured {
    width:80px;
    height:80px;
    margin-top:-70px;
    margin-left:-40px;
    @include rem(font-size, 30px);
    line-height: 2.4;

    @include media-query(lap-and-up) {
        @include rem(width, 150px);
        @include rem(height, 150px);
        @include rem(margin-top, -75px);
        @include rem(margin-left, -75px);
        @include rem(font-size, 58px);

        .icon-camera { @include rem(margin-left, 4px); }
        .icon-play { @include rem(margin-left, 14px); }
    }
}

.post-format-icon__background {
    // background-color: rgba(white, .25);
    // background-clip: content-box;
    // border: 0px solid transparent;
    // @include rem(border-width, 5px);
    // -webkit-animation: post-format-icon-border 1s forwards;
}

.post-format-icon__border {
    // @include box-shadow(0 0 0 rem(5px) white); 
    // -webkit-animation: post-format-icon-background .4s .6s forwards;
}

.post-format-icon__icon {
    // line-height: 2.5;
    // -webkit-animation: post-format-icon-background .6s .9s forwards;
}

.wp-smiley {
    width: auto !important;
    display: inline-block;
}

@include media-query(palm) {
    .content--404{
        @include rem(margin-bottom, $_2u);
    }
}

.no-slides-message {
    text-align: center;
    color: #bbb;
    @include rem(margin-top, $_u);
    @include font-size(16px);
}

/**
 * Arrows need to be offset so .pixslider must have overflow visible
 */
.pixslider{
    overflow: visible;
}

.category__featured-posts {
	@include rem(margin-bottom, $_u);
	position: relative;

	img {
		display: block;
	}
	
	.featured-area__article {
        padding-left: 0;
        margin-bottom: 0;
        position: relative;
        height: 100%;
        width: 100%;
        display:block;

        .image-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            display:block;
            padding:0;

            img {
                max-width: none;
                position:relative;
            }

            .article__title .hN {
                width:100%;
                @include font-size(23px);
            }
        }
    }
}






/*------------------------------------*\
              GENERAL STUFF
\*------------------------------------*/

html {
    color: $gray;
}

.show-on-ie8 {
    display: none;
}

.lt-ie9 .show-on-ie8 {
    display: block;
}

.container {
    @extend .cf;
    @extend .soft--sides;
    max-width: 1096px;
    margin: 0 auto;
}

.sidebar {

    @include media-query(lap-and-up) {
        @include rem(padding-left, $_2u);
    }
}

.grid--thin {
    @include rem(margin-left, -5px);

    > .grid__item {
        @include rem(padding-left, 5px);
    }
}





/*==========  $IMAGE WRAP  ==========*/

.image-wrap {
    display: block;
    padding-top: 67%;
    background: #ccc;
    position: relative; 
    overflow: hidden;

    img, .wp-post-image {
        position: absolute;
        top: 0; left: 0;
        width: 100% !important;
        height: auto !important;
        z-index: 20;
    }

    .article__title {
        position: absolute;
        bottom: 0; width: 100%;
        z-index: 20;
        @include background-image(linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.8)));
        color: white;
        @include rem(padding, $_2u $_u $_u);

        .hN {
            width: 60%;
            @include font-size(26px);
        }
    }

    &:after {
        @extend .preloader;
        content: "";
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
}


.pixslider{
    @include opacity(0);

    &.slider--loaded{
        @include opacity(1);
    }
}


/**
 * Magnific popup
 */
button.mfp-arrow{
  position: absolute;
  top: 50%;
  @include rem(height, 55px);
  @include rem(width, 55px);
  display: block;
  border-bottom: 2px solid white;
  outline: 0;

  @include media-query(palm) {
    @include rem(height, 25px);
    @include rem(width, 25px);
  }
}

button.mfp-arrow-left{
  left: 35px;
  @include transform(rotate(45deg));
  border-left: 2px solid white;
}

button.mfp-arrow-right{
  right: 35px;
  @include transform(rotate(-45deg));  
  border-right: 2px solid white;
}

.mfp-counter{
    @include font-size(16px);
    width: 100%;
    left: 0;
    text-align: center;
}

img[src], img.lazy[src], img.riloadr-single[src]{
    visibility: visible;
}

img.lazy, img.riloadr-single{
    visibility: hidden;
}