.field {
	background: none;
	box-shadow: none;
	border: 2px solid $border;
	border-radius: 0;
	padding: 0.5em 1em;
    margin: 0.5em 0;
    max-width: 100%;

    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;

    .text_sortable & {
        margin-top: 0;
    }

    &:hover {
        border-color: $light;
    }
}

.field--focus {
	border-color: $accent;
}

.redux-container {

	input[type="text"],
	textarea,
	.redux-main textarea {
		@extend .field;
		font-size: 0.75em;

		&:focus {
			@extend .field--focus;
		}
	}

	.select2-container {
		border-radius: 0;
		background: none;
		border: 0;
		box-shadow: none;
		width: auto !important;
		min-width: 9.3em;

		.select2-choice {
			@extend .field;
			height: auto;

			.select2-arrow {
				margin-right: 0.45em;
				margin-top: 0.45em;
				border-left: 0;
				background: none;
			}

		}

		&.select2-dropdown-open {

			.select2-choice {
				@extend .field--focus;
			}
		}
	}
}

.select2-chosen {
	width: auto !important;
    min-width: 8em;
}

.select2-drop {
	@extend .pop-up;
	width: auto !important;
	min-width: 10em;
}

.select2-results {
	padding: 0;
	margin: 0;

	> li {
		border-top: 2px solid #ececec;
		margin-bottom: 0;

		&:first-child {
			border-top: 0;
		}

		.select2-result-label {
			padding: 0.75em 1em;
		}
	}

	.select2-highlighted {
		background: #ececec !important;
		color: black !important;
	}
}

.redux-container-color{
	margin: 12px 0 !important;

	.wp-picker-container{
		display: inline-block;
		vertical-align: top;
	}

	.wp-picker-container input[type=text].wp-color-picker{
		width: 85px;
		height: 49px;

		margin-right: 12px;
	}

		.wp-picker-default{
			margin-top: 12px !important;
		}
}

.wp-color-result{
	margin-right: 12px !important;
	vertical-align: top;

	padding: 12px 0 12px 200px !important;
}

a.wp-color-result{
	border: 1px solid #d7d7d7 !important;

	-wekit-box-sizing: content-box !important;
	box-sizing: content-box !important;

	&:after{
		position: absolute;

		width: 150px;
		height: 100%;

		background: white;

		box-shadow: none;
		font-size: 16px;
		line-height: 44px;
	}

	&:hover:after{
		border: 0;
		box-shadow: none !important;
	}
}

input.regular-text{
	min-width: 100px;
	max-width: auto;
}

.redux-main .redux-container-typography{
	& {

	}

	label{
		display: none !important;
	}

	a.select2-choice{
		height: 44px !important;
	}

	.select_wrapper {
		width: auto !important;
		min-width: 50px !important;
		max-width: 350px !important;
	}

	.redux-typography-container {
		max-width: 2000px;
	}
}

.redux-main .redux-typography-container {
	.input_wrapper {
		& {
			min-width: 60px;
			width: auto;
		}

		.input-append {
			margin: 6px 0;
		}
		input.mini{
			display: inline-block;
			vertical-align: top;

			font-size: 12px !important;

			height: 44px;
			border-radius: 0;

			max-width: 50px;
		}

		.add-on {
			padding: 3px 8px;
			height: 44px;
			border: 2px solid $border;
			line-height: 35px;
		}
	}
}

.select2-container .select2-choice abbr{
	top: 13px;
}

.redux-container-typography .input-append{
	margin-top: 15px;
}

.redux-container-image_select li.redux-image-select{
	label, img{
		width: 100% !important;
	}
}

