@charset "UTF-8";
/*------------------------------------*\
    $VARS
\*------------------------------------*/
/*------------------------------------*\
    $FONTS
\*------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400|Open+Sans:400,600");
.redux-container, .redux-container #redux-intro-text, .redux-container #redux-intro-text > *, .redux-container #redux-intro-text > p, .redux-container .redux-normal, .redux-container .redux-info-field, .redux-container .redux-field-info, .redux-container .field-desc, .redux-container .redux-info-desc {
  font-family: "Open Sans", sans-serif; }

.redux-container h1, .redux-container h2, .redux-container h3, .redux-container h4, .redux-container h5, .redux-container h6, #info-live-customizer-button .redux-info-desc .button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
.mbp0, .redux-container .redux-main *, .redux-container h1, .redux-container h2, .redux-container h3, .redux-container h4, .redux-container h5, .redux-container h6, .redux-container p, .redux-container ul, .redux-container ol, .redux-container dl, .redux-container li, .redux-container .form-table, .redux-container .form-table thead, .redux-container .form-table tbody, .redux-container .form-table tfoot, .redux-container .form-table tr, .redux-container .form-table th, .redux-container .form-table td, .redux-container .redux-field-container {
  margin: 0;
  border: 0;
  padding: 0; }

.redux-container {
  width: auto;
  margin: 0 -20px 0 -22px;
  border: 0; }
  .redux-container *, .redux-container *:before, .redux-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: 0; }
  .redux-container .redux-main .form-table > tbody > tr > th,
  .redux-container .redux-main .form-table > tbody > tr > td {
    padding: 0 !important; }
  .redux-container #redux-footer {
    background: none !important;
    border: 0;
    margin: 0;
    padding: 0; }
  .redux-container .redux-info-field.redux-normal {
    background: none;
    color: inherit;
    margin: 0;
    padding: 0; }
  .redux-container h1, .redux-container h2, .redux-container h3, .redux-container h4, .redux-container h5, .redux-container h6, .redux-container p, .redux-container ul, .redux-container ol, .redux-container dl, .redux-container li {
    line-height: 1.5; }
  .redux-container .form-table, .redux-container .form-table thead, .redux-container .form-table tbody, .redux-container .form-table tfoot, .redux-container .form-table tr, .redux-container .form-table th, .redux-container .form-table td {
    display: block !important; }
  .redux-container .form-table tr[style="display: none;"] {
    display: none !important; }
  .redux-container .form-table tr.hide {
    display: none !important; }
  .redux-container .redux-sidebar .redux-group-menu li a {
    background: transparent;
    color: white;
    opacity: 1; }
  .redux-container .redux-action_bar {
    float: none; }
  .redux-container #info_bar {
    border: none;
    box-shadow: none; }

#info_bar input[name*="defaults"] {
  display: none; }

.reset-menu input {
  display: inline-block; }

.redux-save-warn, .saved_notice {
  display: none !important; }

.fs14, .redux-container .button, .redux-container .button-primary, .redux-container .button-secondary, .redux-container .button.remove-image, .redux-container .upload_button_div, .reset-menu_list input[type="submit"], .qtip-light {
  font-size: 0.875em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.fs19, .redux-container .redux_field_th, .redux-container #redux_save {
  font-size: 1.1875em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.fs24, .reset-menu_cog {
  font-size: 1.5em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.fs32, .redux-container .beta, .redux-container .redux-main h1, .redux-container .redux-main h2, .redux-container .redux-main h3, .redux-container .redux-main h4, .redux-container .redux-main h5, .redux-container .redux-main h6 {
  font-size: 2em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.fs42 {
  font-size: 2.625em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.fs60, .redux-container .alpha, .redux-container .redux-main .redux-group-tab > h1, .redux-container .redux-main .redux-group-tab > h2, .redux-container .redux-main .redux-group-tab > h3, .redux-container .redux-main .redux-group-tab > h4, .redux-container .redux-main .redux-group-tab > h5, .redux-container .redux-main .redux-group-tab > h6 {
  font-size: 3.75em;
  line-height: 1.5;
  padding-top: 0.41em;
  margin-bottom: 1.09em; }

.redux-container {
  font-size: 12px; }
  @media only screen and (min-width: 1310px) {
    .redux-container {
      font-size: 12.06452px; } }
  @media only screen and (min-width: 1320px) {
    .redux-container {
      font-size: 12.12903px; } }
  @media only screen and (min-width: 1330px) {
    .redux-container {
      font-size: 12.19355px; } }
  @media only screen and (min-width: 1340px) {
    .redux-container {
      font-size: 12.25806px; } }
  @media only screen and (min-width: 1350px) {
    .redux-container {
      font-size: 12.32258px; } }
  @media only screen and (min-width: 1360px) {
    .redux-container {
      font-size: 12.3871px; } }
  @media only screen and (min-width: 1370px) {
    .redux-container {
      font-size: 12.45161px; } }
  @media only screen and (min-width: 1380px) {
    .redux-container {
      font-size: 12.51613px; } }
  @media only screen and (min-width: 1390px) {
    .redux-container {
      font-size: 12.58065px; } }
  @media only screen and (min-width: 1400px) {
    .redux-container {
      font-size: 12.64516px; } }
  @media only screen and (min-width: 1410px) {
    .redux-container {
      font-size: 12.70968px; } }
  @media only screen and (min-width: 1420px) {
    .redux-container {
      font-size: 12.77419px; } }
  @media only screen and (min-width: 1430px) {
    .redux-container {
      font-size: 12.83871px; } }
  @media only screen and (min-width: 1440px) {
    .redux-container {
      font-size: 12.90323px; } }
  @media only screen and (min-width: 1450px) {
    .redux-container {
      font-size: 12.96774px; } }
  @media only screen and (min-width: 1460px) {
    .redux-container {
      font-size: 13.03226px; } }
  @media only screen and (min-width: 1470px) {
    .redux-container {
      font-size: 13.09677px; } }
  @media only screen and (min-width: 1480px) {
    .redux-container {
      font-size: 13.16129px; } }
  @media only screen and (min-width: 1490px) {
    .redux-container {
      font-size: 13.22581px; } }
  @media only screen and (min-width: 1500px) {
    .redux-container {
      font-size: 13.29032px; } }
  @media only screen and (min-width: 1510px) {
    .redux-container {
      font-size: 13.35484px; } }
  @media only screen and (min-width: 1520px) {
    .redux-container {
      font-size: 13.41935px; } }
  @media only screen and (min-width: 1530px) {
    .redux-container {
      font-size: 13.48387px; } }
  @media only screen and (min-width: 1540px) {
    .redux-container {
      font-size: 13.54839px; } }
  @media only screen and (min-width: 1550px) {
    .redux-container {
      font-size: 13.6129px; } }
  @media only screen and (min-width: 1560px) {
    .redux-container {
      font-size: 13.67742px; } }
  @media only screen and (min-width: 1570px) {
    .redux-container {
      font-size: 13.74194px; } }
  @media only screen and (min-width: 1580px) {
    .redux-container {
      font-size: 13.80645px; } }
  @media only screen and (min-width: 1590px) {
    .redux-container {
      font-size: 13.87097px; } }
  @media only screen and (min-width: 1600px) {
    .redux-container {
      font-size: 13.93548px; } }
  @media only screen and (min-width: 1610px) {
    .redux-container {
      font-size: 14px; } }
  @media only screen and (min-width: 1620px) {
    .redux-container {
      font-size: 14.06452px; } }
  @media only screen and (min-width: 1630px) {
    .redux-container {
      font-size: 14.12903px; } }
  @media only screen and (min-width: 1640px) {
    .redux-container {
      font-size: 14.19355px; } }
  @media only screen and (min-width: 1650px) {
    .redux-container {
      font-size: 14.25806px; } }
  @media only screen and (min-width: 1660px) {
    .redux-container {
      font-size: 14.32258px; } }
  @media only screen and (min-width: 1670px) {
    .redux-container {
      font-size: 14.3871px; } }
  @media only screen and (min-width: 1680px) {
    .redux-container {
      font-size: 14.45161px; } }
  @media only screen and (min-width: 1690px) {
    .redux-container {
      font-size: 14.51613px; } }
  @media only screen and (min-width: 1700px) {
    .redux-container {
      font-size: 14.58065px; } }
  @media only screen and (min-width: 1710px) {
    .redux-container {
      font-size: 14.64516px; } }
  @media only screen and (min-width: 1720px) {
    .redux-container {
      font-size: 14.70968px; } }
  @media only screen and (min-width: 1730px) {
    .redux-container {
      font-size: 14.77419px; } }
  @media only screen and (min-width: 1740px) {
    .redux-container {
      font-size: 14.83871px; } }
  @media only screen and (min-width: 1750px) {
    .redux-container {
      font-size: 14.90323px; } }
  @media only screen and (min-width: 1760px) {
    .redux-container {
      font-size: 14.96774px; } }
  @media only screen and (min-width: 1770px) {
    .redux-container {
      font-size: 15.03226px; } }
  @media only screen and (min-width: 1780px) {
    .redux-container {
      font-size: 15.09677px; } }
  @media only screen and (min-width: 1790px) {
    .redux-container {
      font-size: 15.16129px; } }
  @media only screen and (min-width: 1800px) {
    .redux-container {
      font-size: 15.22581px; } }
  @media only screen and (min-width: 1810px) {
    .redux-container {
      font-size: 15.29032px; } }
  @media only screen and (min-width: 1820px) {
    .redux-container {
      font-size: 15.35484px; } }
  @media only screen and (min-width: 1830px) {
    .redux-container {
      font-size: 15.41935px; } }
  @media only screen and (min-width: 1840px) {
    .redux-container {
      font-size: 15.48387px; } }
  @media only screen and (min-width: 1850px) {
    .redux-container {
      font-size: 15.54839px; } }
  @media only screen and (min-width: 1860px) {
    .redux-container {
      font-size: 15.6129px; } }
  @media only screen and (min-width: 1870px) {
    .redux-container {
      font-size: 15.67742px; } }
  @media only screen and (min-width: 1880px) {
    .redux-container {
      font-size: 15.74194px; } }
  @media only screen and (min-width: 1890px) {
    .redux-container {
      font-size: 15.80645px; } }
  @media only screen and (min-width: 1900px) {
    .redux-container {
      font-size: 15.87097px; } }
  @media only screen and (min-width: 1910px) {
    .redux-container {
      font-size: 15.93548px; } }
  @media only screen and (min-width: 1920px) {
    .redux-container {
      font-size: 16px; } }
  @media only screen and (min-width: 1920px) {
    .redux-container {
      font-size: 16px; } }
  .redux-container .form-table,
  .redux-container .form-table td,
  .redux-container .form-table td p,
  .redux-container .form-table th,
  .redux-container .form-wrap label,
  .redux-container .form-wrap p,
  .redux-container p.description,
  .redux-container p.help,
  .redux-container span.description,
  .redux-container input, .redux-container select, .redux-container textarea {
    font-size: 1em; }
  .redux-container .redux-main .redux-group-tab .form-table .text_sortable label {
    width: 8em; }
  .redux-container .redux-main .redux-group-tab .form-table .text_sortable input {
    width: 22em; }
  .redux-container .alpha, .redux-container .redux-main .redux-group-tab > h1, .redux-container .redux-main .redux-group-tab > h2, .redux-container .redux-main .redux-group-tab > h3, .redux-container .redux-main .redux-group-tab > h4, .redux-container .redux-main .redux-group-tab > h5, .redux-container .redux-main .redux-group-tab > h6 {
    font-weight: 100;
    color: #4cebcc;
    position: relative;
    margin-right: -6vw;
    padding-right: 6vw; }
    .redux-container .alpha:after, .redux-container .redux-main .redux-group-tab > h1:after, .redux-container .redux-main .redux-group-tab > h2:after, .redux-container .redux-main .redux-group-tab > h3:after, .redux-container .redux-main .redux-group-tab > h4:after, .redux-container .redux-main .redux-group-tab > h5:after, .redux-container .redux-main .redux-group-tab > h6:after {
      content: "";
      display: block;
      width: 150%;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #0095ea;
      z-index: 1; }
  .redux-container .beta, .redux-container .redux-main h1, .redux-container .redux-main h2, .redux-container .redux-main h3, .redux-container .redux-main h4, .redux-container .redux-main h5, .redux-container .redux-main h6 {
    float: left;
    position: relative;
    padding-right: 0.5em;
    color: #0095ea;
    clear: left; }
    .redux-container .beta:before, .redux-container .redux-main h1:before, .redux-container .redux-main h2:before, .redux-container .redux-main h3:before, .redux-container .redux-main h4:before, .redux-container .redux-main h5:before, .redux-container .redux-main h6:before {
      content: "";
      display: block;
      width: 9999em;
      height: 1px;
      background: #d9d9d9;
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 0.75em; }
    .redux-container .beta + *, .redux-container .redux-main h1 + *, .redux-container .redux-main h2 + *, .redux-container .redux-main h3 + *, .redux-container .redux-main h4 + *, .redux-container .redux-main h5 + *, .redux-container .redux-main h6 + * {
      clear: left; }
      .redux-container .beta + *:empty, .redux-container .redux-main h1 + *:empty, .redux-container .redux-main h2 + *:empty, .redux-container .redux-main h3 + *:empty, .redux-container .redux-main h4 + *:empty, .redux-container .redux-main h5 + *:empty, .redux-container .redux-main h6 + *:empty {
        display: block; }
  .redux-container .redux-main {
    background: white; }
    .redux-container .redux-main .redux-group-tab > h1, .redux-container .redux-main .redux-group-tab > h2, .redux-container .redux-main .redux-group-tab > h3, .redux-container .redux-main .redux-group-tab > h4, .redux-container .redux-main .redux-group-tab > h5, .redux-container .redux-main .redux-group-tab > h6 {
      border: 0;
      float: none; }
      .redux-container .redux-main .redux-group-tab > h1:before, .redux-container .redux-main .redux-group-tab > h2:before, .redux-container .redux-main .redux-group-tab > h3:before, .redux-container .redux-main .redux-group-tab > h4:before, .redux-container .redux-main .redux-group-tab > h5:before, .redux-container .redux-main .redux-group-tab > h6:before {
        display: none; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.redux-container .redux-sidebar {
  float: left;
  overflow: hidden;
  padding-top: 9.5em;
  width: 16%; }
.redux-container .redux-main {
  width: 62%;
  float: left;
  margin-left: 0; }
.redux-container #redux-sticky {
  position: fixed;
  right: 0;
  bottom: 1.5em;
  z-index: 10;
  padding: 3em;
  padding-right: 0;
  width: 20%;
  float: none; }
.redux-container #redux-intro-text {
  top: 0 !important;
  margin-left: 16%; }
.redux-container .form-table th {
  width: auto; }
.redux-container .redux-action_bar {
  text-align: center; }

.wpGrade_popup {
  padding: 0;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 350px;
  z-index: 10000;
  color: #FFF;
  overflow: hidden;
  line-height: 18px;
  border: 2px solid #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 24px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.wpGrade_popup .wpGrade_popup_title {
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  display: block;
  margin: 0;
  background: #0095ea; }

.wpGrade_popup_title .wpGrade_popup_icon {
  height: 32px;
  width: 32px;
  display: block;
  float: left;
  margin-right: 15px;
  overflow: hidden; }

.wpGrade_popup .wpGrade_popup_content {
  background: white;
  color: #262626;
  padding: 1.5em;
  margin: 0;
  display: block; }

.wpGrade_popup_success .wpGrade_popup_icon {
  color: green; }

.wpGrade_popup_error .wpGrade_popup_icon {
  color: red; }

.wpGrade-import-results i, .wpGrade-loading-wrap i {
  line-height: 1.8;
  font-style: normal;
  color: #515151; }

.field, .redux-container input[type="text"],
.redux-container textarea,
.redux-container .redux-main textarea, .redux-container .select2-container .select2-choice {
  background: none;
  box-shadow: none;
  border: 2px solid #d9d9d9;
  border-radius: 0;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  max-width: 100%;
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  -ms-transition: border-color .2s ease-in-out;
  -o-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out; }
  .text_sortable .field, .text_sortable .redux-container input[type="text"], .redux-container .text_sortable input[type="text"],
  .text_sortable .redux-container textarea,
  .redux-container .text_sortable textarea, .text_sortable .redux-container .select2-container .select2-choice, .redux-container .select2-container .text_sortable .select2-choice {
    margin-top: 0; }
  .field:hover, .redux-container input[type="text"]:hover,
  .redux-container textarea:hover, .redux-container .select2-container .select2-choice:hover {
    border-color: #919191; }

.field--focus, .redux-container input[type="text"]:focus,
.redux-container textarea:focus,
.redux-container .redux-main textarea:focus, .redux-container .select2-container.select2-dropdown-open .select2-choice {
  border-color: #0095ea; }

.redux-container input[type="text"],
.redux-container textarea,
.redux-container .redux-main textarea {
  font-size: 0.75em; }
.redux-container .select2-container {
  border-radius: 0;
  background: none;
  border: 0;
  box-shadow: none;
  width: auto !important;
  min-width: 9.3em; }
  .redux-container .select2-container .select2-choice {
    height: auto; }
    .redux-container .select2-container .select2-choice .select2-arrow {
      margin-right: 0.45em;
      margin-top: 0.45em;
      border-left: 0;
      background: none; }

.select2-chosen {
  width: auto !important;
  min-width: 8em; }

.select2-drop {
  width: auto !important;
  min-width: 10em; }

.select2-results {
  padding: 0;
  margin: 0; }
  .select2-results > li {
    border-top: 2px solid #ececec;
    margin-bottom: 0; }
    .select2-results > li:first-child {
      border-top: 0; }
    .select2-results > li .select2-result-label {
      padding: 0.75em 1em; }
  .select2-results .select2-highlighted {
    background: #ececec !important;
    color: black !important; }

.redux-container-color {
  margin: 12px 0 !important; }
  .redux-container-color .wp-picker-container {
    display: inline-block;
    vertical-align: top; }
  .redux-container-color .wp-picker-container input[type=text].wp-color-picker {
    width: 85px;
    height: 49px;
    margin-right: 12px; }
  .redux-container-color .wp-picker-default {
    margin-top: 12px !important; }

.wp-color-result {
  margin-right: 12px !important;
  vertical-align: top;
  padding: 12px 0 12px 200px !important; }

a.wp-color-result {
  border: 1px solid #d7d7d7 !important;
  -wekit-box-sizing: content-box !important;
  box-sizing: content-box !important; }
  a.wp-color-result:after {
    position: absolute;
    width: 150px;
    height: 100%;
    background: white;
    box-shadow: none;
    font-size: 16px;
    line-height: 44px; }
  a.wp-color-result:hover:after {
    border: 0;
    box-shadow: none !important; }

input.regular-text {
  min-width: 100px;
  max-width: auto; }

.redux-main .redux-container-typography label {
  display: none !important; }
.redux-main .redux-container-typography a.select2-choice {
  height: 44px !important; }
.redux-main .redux-container-typography .select_wrapper {
  width: auto !important;
  min-width: 50px !important;
  max-width: 350px !important; }
.redux-main .redux-container-typography .redux-typography-container {
  max-width: 2000px; }

.redux-main .redux-typography-container .input_wrapper {
  min-width: 60px;
  width: auto; }
.redux-main .redux-typography-container .input_wrapper .input-append {
  margin: 6px 0; }
.redux-main .redux-typography-container .input_wrapper input.mini {
  display: inline-block;
  vertical-align: top;
  font-size: 12px !important;
  height: 44px;
  border-radius: 0;
  max-width: 50px; }
.redux-main .redux-typography-container .input_wrapper .add-on {
  padding: 3px 8px;
  height: 44px;
  border: 2px solid #d9d9d9;
  line-height: 35px; }

.select2-container .select2-choice abbr {
  top: 13px; }

.redux-container-typography .input-append {
  margin-top: 15px; }

.redux-container-image_select li.redux-image-select label, .redux-container-image_select li.redux-image-select img {
  width: 100% !important; }

/*-----------------------------------------------*\
              ICONS
\*-----------------------------------------------*/
@font-face {
  font-family: 'linecons';
  src: url("../fonts/linecons.eot?98525679");
  src: url("../fonts/linecons.eot?98525679#iefix") format("embedded-opentype"), url("../fonts/linecons.woff?98525679") format("woff"), url("../fonts/linecons.ttf?98525679") format("truetype"), url("../fonts/linecons.svg?98525679#linecons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'linecons';
    src: url('../../fonts/linecons/linecons.svg?98525679#linecons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "linecons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-music-1:before {
  content: '\e800'; }

/* '' */
.icon-wallet:before {
  content: '\e82f'; }

/* '' */
.icon-mail-1:before {
  content: '\e802'; }

/* '' */
.icon-heart-1:before {
  content: '\e803'; }

/* '' */
.icon-star-1:before {
  content: '\e804'; }

/* '' */
.icon-user-1:before {
  content: '\e805'; }

/* '' */
.icon-videocam:before {
  content: '\e806'; }

/* '' */
.icon-camera-1:before {
  content: '\e807'; }

/* '' */
.icon-photo:before {
  content: '\e808'; }

/* '' */
.icon-attach-1:before {
  content: '\e809'; }

/* '' */
.icon-lock-1:before {
  content: '\e80a'; }

/* '' */
.icon-eye-1:before {
  content: '\e80b'; }

/* '' */
.icon-tag-1:before {
  content: '\e80c'; }

/* '' */
.icon-thumbs-up-1:before {
  content: '\e80d'; }

/* '' */
.icon-pencil-1:before {
  content: '\e80e'; }

/* '' */
.icon-comment-1:before {
  content: '\e80f'; }

/* '' */
.icon-location-1:before {
  content: '\e810'; }

/* '' */
.icon-cup-1:before {
  content: '\e811'; }

/* '' */
.icon-trash-1:before {
  content: '\e812'; }

/* '' */
.icon-doc-1:before {
  content: '\e813'; }

/* '' */
.icon-note-1:before {
  content: '\e814'; }

/* '' */
.icon-cog-1:before {
  content: '\e815'; }

/* '' */
.icon-params:before {
  content: '\e816'; }

/* '' */
.icon-calendar-1:before {
  content: '\e817'; }

/* '' */
.icon-search-1:before {
  content: '\e801'; }

/* '' */
.icon-clock-1:before {
  content: '\e819'; }

/* '' */
.icon-lightbulb:before {
  content: '\e81a'; }

/* '' */
.icon-tv:before {
  content: '\e81b'; }

/* '' */
.icon-desktop:before {
  content: '\e81c'; }

/* '' */
.icon-mobile-1:before {
  content: '\e81d'; }

/* '' */
.icon-cd-1:before {
  content: '\e81e'; }

/* '' */
.icon-inbox-1:before {
  content: '\e81f'; }

/* '' */
.icon-globe-1:before {
  content: '\e820'; }

/* '' */
.icon-cloud-1:before {
  content: '\e821'; }

/* '' */
.icon-paper-plane-1:before {
  content: '\e822'; }

/* '' */
.icon-fire:before {
  content: '\e823'; }

/* '' */
.icon-graduation-cap-1:before {
  content: '\e824'; }

/* '' */
.icon-megaphone-1:before {
  content: '\e825'; }

/* '' */
.icon-database-1:before {
  content: '\e826'; }

/* '' */
.icon-key-1:before {
  content: '\e827'; }

/* '' */
.icon-beaker:before {
  content: '\e828'; }

/* '' */
.icon-truck:before {
  content: '\e829'; }

/* '' */
.icon-money:before {
  content: '\e82a'; }

/* '' */
.icon-food:before {
  content: '\e82b'; }

/* '' */
.icon-shop:before {
  content: '\e82c'; }

/* '' */
.icon-diamond:before {
  content: '\e82d'; }

/* '' */
.icon-t-shirt:before {
  content: '\e82e'; }

/* '' */
.icon-sound-1:before {
  content: '\e818'; }

.redux-container {
  position: relative;
  background: #0095ea;
  background-image: linear-gradient(135deg, #4cebcc, #0095ea);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: none; }
  .redux-container .form-table tr {
    margin-bottom: 3em;
    position: relative; }
    .redux-container .form-table tr:last-child {
      margin-bottom: 0; }
    .redux-container .form-table tr[style="border-bottom:0;"] {
      margin-bottom: 0; }
  .redux-container .form-table ul.redux-image-select {
    margin: 0.5em 0 !important; }
  .redux-container .hide {
    display: none !important; }
  .redux-container .redux-field-info, .redux-container .fold {
    opacity: 1 !important; }
  .redux-container #redux-intro-text {
    position: fixed;
    right: 0;
    z-index: 10;
    width: 20%;
    padding: 3em;
    padding-top: 12.5em;
    margin: 0;
    overflow: hidden;
    border: 0;
    color: white;
    background: none;
    box-shadow: none; }
    .redux-container #redux-intro-text, .redux-container #redux-intro-text > *, .redux-container #redux-intro-text > p {
      color: white; }
    .redux-container #redux-intro-text > h4, .redux-container #redux-intro-text > p {
      display: none; }
    .redux-container #redux-intro-text > .description {
      display: block;
      font-style: normal; }
  .redux-container .redux-main + .clear {
    display: none; }
  .redux-container #redux-footer-sticky {
    width: 22%;
    overflow: hidden;
    background: #0095ea;
    display: none; }
  .redux-container #redux-footer {
    width: auto !important; }
  .redux-container .clear {
    display: none; }
  .redux-container .redux-sidebar .redux-group-menu li.active a {
    width: auto; }
  .redux-container .expand_options {
    display: none; }
  .redux-container #redux-header {
    display: none; }
  .redux-container #info_bar {
    padding: 0;
    background: transparent;
    border: 0; }
  .redux-container .button, .redux-container .button-primary, .redux-container .button-secondary, .redux-container .button.remove-image {
    height: auto;
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    background: white;
    margin: 0;
    box-shadow: none;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    margin-right: 1.5em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .redux-container .button:hover, .redux-container .button-primary:hover, .redux-container .button-secondary:hover, .redux-container .button.remove-image:hover {
      background: white;
      color: #919191;
      border-color: #919191;
      box-shadow: none; }
    .redux-container .button span:before, .redux-container .button-primary span:before, .redux-container .button-secondary span:before, .redux-container .button.remove-image span:before {
      color: #d9d9d9; }
  .redux-container .button, .redux-container .button-primary {
    border: 1px solid #808080;
    background: #808080;
    color: white; }
    .redux-container .button:hover, .redux-container .button-primary:hover {
      border-color: #0095ea;
      background: #0095ea;
      color: white; }
    .redux-container .button span:before, .redux-container .button-primary span:before {
      color: white; }
  .redux-container .button-demo {
    border-color: #0095ea;
    background: #0095ea;
    font-size: 12px;
    border-radius: 20px;
    padding: 12px 24px; }
    .redux-container .button-demo:hover {
      border-color: #262626;
      background: #262626; }
  .redux-container .redux-main {
    position: relative;
    padding: 3.5em 5vw 6vw;
    overflow: hidden;
    border: solid white;
    border: 0;
    background: white; }
    .redux-container .redux-main .description {
      font-style: normal; }
    .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li {
      display: block;
      clear: both;
      position: relative;
      padding-left: 4em;
      margin-left: -4em; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li .drag {
        display: inline-block;
        position: absolute;
        top: 0.23em;
        left: 0;
        width: 1em;
        height: 1em;
        margin-left: 0;
        font-size: 2em;
        line-height: 1;
        font-family: "dashicons";
        text-decoration: inherit;
        font-weight: normal;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: crosshair; }
        .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li .drag:before {
          content: "\f214";
          color: #eee; }
        .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li .drag:hover:before {
          color: #515151; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li:after {
        content: " ";
        display: table;
        clear: both; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li.head {
        margin: 1em 0;
        margin-bottom: 1em !important;
        padding-left: 0; }
        .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li.head span {
          margin-left: 1.2em; }
        .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li.head .spacer {
          width: 29em !important; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li label {
        margin-top: 0.8em !important; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li label, .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li input {
        float: left; }
      .redux-container .redux-main .redux-group-tab .form-table .text_sortable > li input[type="checkbox"] {
        margin-left: 2em; }
    .redux-container .redux-main i#big-icon {
      position: absolute;
      right: 70px;
      top: 24px;
      font-size: 188px;
      color: #d2d2d2;
      opacity: .1; }
  .redux-container .redux-sidebar .redux-group-menu li {
    position: relative;
    padding-left: 22%;
    margin-bottom: 10px !important;
    display: block; }
    .redux-container .redux-sidebar .redux-group-menu li:after {
      content: "";
      position: absolute;
      left: 22%;
      right: -100%;
      bottom: 0;
      display: block;
      height: 1px;
      background-color: white;
      background-blend-mode: overlay;
      opacity: 0.5; }
    .redux-container .redux-sidebar .redux-group-menu li a {
      padding: 1.25em 0;
      padding-right: 1.25em;
      border: 0;
      font-family: "Josefin Sans", serif;
      font-weight: 400;
      text-transform: uppercase;
      text-align: left; }
    .redux-container .redux-sidebar .redux-group-menu li.active a {
      color: white; }
      .redux-container .redux-sidebar .redux-group-menu li.active a:after {
        content: "";
        position: absolute;
        right: 7%;
        top: 50%;
        display: block;
        height: 0.75em;
        width: 0.75em;
        background: white;
        -webkit-transform: translateY(-50%);
        border-radius: 50%; }
    .redux-container .redux-sidebar .redux-group-menu li.divide {
      border: 0;
      padding: 1.5em 0; }
      .redux-container .redux-sidebar .redux-group-menu li.divide:after {
        content: none; }
    .redux-container .redux-sidebar .redux-group-menu li:last-child {
      margin-top: 72px; }
      .redux-container .redux-sidebar .redux-group-menu li:last-child:after {
        content: none; }
  .redux-container .redux-sidebar .redux-group-tab-link-a {
    position: static; }
    .redux-container .redux-sidebar .redux-group-tab-link-a span.group_title {
      padding: 0; }
    .redux-container .redux-sidebar .redux-group-tab-link-a i {
      top: 50%;
      left: 5%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .redux-container .redux-group-tab.has-customizer table,
  .redux-container .redux-group-tab.has-customizer div.redux-field-customizer_info {
    display: none !important; }
  .redux-container .redux-container-switch {
    position: absolute;
    right: 0;
    top: 0; }
    @media screen and (max-width: 1123px) {
      .redux-container .redux-container-switch {
        top: 10px; } }
    .redux-container .redux-container-switch .switch-options {
      width: 7.4em;
      height: 3.4em;
      position: relative; }
      .redux-container .redux-container-switch .switch-options label {
        margin: 0 !important;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.7em;
        border: 1px solid #d9d9d9;
        z-index: 20;
        background: none;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        opacity: 1; }
        .redux-container .redux-container-switch .switch-options label span {
          color: transparent; }
          .redux-container .redux-container-switch .switch-options label span:before {
            color: black;
            position: absolute;
            line-height: 3.25; }
        .redux-container .redux-container-switch .switch-options label:before {
          content: "";
          position: absolute;
          top: 0.2em;
          left: 0.2em;
          width: 3em;
          height: 3em;
          background: white;
          border-radius: 1.8em; }
        .redux-container .redux-container-switch .switch-options label:after {
          content: "";
          display: block;
          position: absolute;
          top: 1.55em;
          left: 1.55em;
          width: 0.3em;
          height: 0.3em;
          border-radius: 50%;
          background: #d9d9d9;
          box-shadow: #d9d9d9 0.5em 0 0, #d9d9d9 -0.5em 0 0; }
        .redux-container .redux-container-switch .switch-options label:before, .redux-container .redux-container-switch .switch-options label:after {
          -webkit-transition: all .2s ease-out;
          -moz-transition: all .2s ease-out;
          -ms-transition: all .2s ease-out;
          -o-transition: all .2s ease-out;
          transition: all .2s ease-out; }
        .redux-container .redux-container-switch .switch-options label.selected {
          z-index: 10;
          opacity: 0; }
        .redux-container .redux-container-switch .switch-options label.cb-disable {
          background: #0095ea;
          border: 0; }
          .redux-container .redux-container-switch .switch-options label.cb-disable:before, .redux-container .redux-container-switch .switch-options label.cb-disable:after {
            -webkit-transform: translateX(4em);
            -moz-transform: translateX(4em);
            -ms-transform: translateX(4em);
            -o-transform: translateX(4em);
            transform: translateX(4em); }
          .redux-container .redux-container-switch .switch-options label.cb-disable span:before {
            content: "Yep";
            color: white;
            left: 1.3em; }
          .redux-container .redux-container-switch .switch-options label.cb-disable.selected:before, .redux-container .redux-container-switch .switch-options label.cb-disable.selected:after {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none; }
        .redux-container .redux-container-switch .switch-options label.cb-enable {
          background: white; }
          .redux-container .redux-container-switch .switch-options label.cb-enable:before {
            border: 1px solid #d9d9d9;
            margin-top: -1px;
            margin-left: -1px; }
          .redux-container .redux-container-switch .switch-options label.cb-enable span:before {
            content: "Nope";
            color: #d9d9d9;
            right: 1em; }
          .redux-container .redux-container-switch .switch-options label.cb-enable.selected:before, .redux-container .redux-container-switch .switch-options label.cb-enable.selected:after {
            -webkit-transform: translateX(4em);
            -moz-transform: translateX(4em);
            -ms-transform: translateX(4em);
            -o-transform: translateX(4em);
            transform: translateX(4em); }
  .redux-container .redux_field_th {
    padding-right: 9em; }
  .redux-container .redux_field_th {
    color: #515151; }
    .redux-container .redux_field_th span.description {
      color: #919191;
      font-size: 0.8421em; }
  .redux-container .redux-normal, .redux-container .redux-info-field, .redux-container .redux-field-info, .redux-container .field-desc, .redux-container .redux-info-desc {
    font-size: 1em;
    color: #919191 !important; }
  .redux-container tr :last-child {
    margin-bottom: 0; }
  .redux-container #redux_save {
    font-family: "Josefin Sans", serif;
    padding: 1.1em 1.5em 0.75em;
    margin-right: 0;
    letter-spacing: .150em;
    text-transform: uppercase;
    border: 2px solid white;
    background: transparent;
    border-radius: 5em; }
    .redux-container #redux_save:hover {
      background: white;
      color: #0095ea; }
  .redux-container #floating-title {
    position: fixed;
    right: 0;
    top: 0.3em;
    width: 20%;
    padding: 0.3em;
    font-family: "Josefin Sans", serif;
    font-weight: 100;
    font-size: 7.5em;
    line-height: 1;
    word-wrap: break-word;
    opacity: 0.2;
    background-blend-mode: overlay;
    color: white; }
  .redux-container .redux-field-info {
    overflow: hidden; }
  .redux-container .screenshot {
    display: block;
    width: 9.9em;
    height: 9.9em;
    border: 1px solid #d9d9d9;
    border-collapse: separate;
    background-color: white;
    background-clip: content-box;
    background-image: -moz-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%), -moz-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%);
    background-image: -webkit-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%), -webkit-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%);
    -moz-background-size: 1em 1em;
    background-size: 1em 1em;
    -webkit-background-size: 1em 1em;
    background-position: 0 0, 0.5em 0.5em;
    box-shadow: white 0 0 0 0.5em inset;
    padding: 0.5em; }
  .redux-container .row--image {
    position: relative; }
    .redux-container .row--image .screenshot {
      cursor: pointer;
      -webkit-transition: border-color .2s ease-in-out;
      -moz-transition: border-color .2s ease-in-out;
      -ms-transition: border-color .2s ease-in-out;
      -o-transition: border-color .2s ease-in-out;
      transition: border-color .2s ease-in-out;
      z-index: 10; }
      .redux-container .row--image .screenshot img {
        pointer-events: none; }
      .redux-container .row--image .screenshot:hover {
        border-color: #919191; }
      .redux-container .row--image .screenshot:before, .redux-container .row--image .screenshot:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: #d9d9d9;
        pointer-events: none;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        display: none; }
      .redux-container .row--image .screenshot:hover:before, .redux-container .row--image .screenshot:hover:after {
        background-color: #919191; }
      .redux-container .row--image .screenshot:before {
        width: 2px;
        margin-left: -1px;
        height: 2em;
        margin-top: -1em; }
      .redux-container .row--image .screenshot:after {
        width: 2em;
        margin-left: -1em;
        height: 2px;
        margin-top: -1px; }
      .redux-container .row--image .screenshot.hide {
        display: block !important;
        background: none; }
        .redux-container .row--image .screenshot.hide[style="display: none;"] {
          background-image: -moz-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%), -moz-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%);
          background-image: -webkit-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%), -webkit-linear-gradient(45deg, #dddddd 25%, transparent 25%, transparent 75%, #dddddd 75%, #dddddd 100%);
          -moz-background-size: 1em 1em;
          background-size: 1em 1em;
          -webkit-background-size: 1em 1em;
          background-position: 0 0, 0.5em 0.5em; }
    .redux-container .row--image > .screenshot {
      float: left;
      margin-right: 2em;
      margin-top: 0;
      position: relative;
      z-index: 9; }
      .redux-container .row--image > .screenshot:empty {
        background: white; }
      .redux-container .row--image > .screenshot:before, .redux-container .row--image > .screenshot:after {
        display: block; }
    .redux-container .row--image .redux_field_th, .redux-container .row--image td {
      margin-left: 10em; }
    .redux-container .row--image.image--small .screenshot {
      width: 4.9em;
      height: 4.9em; }
    .redux-container .row--image.image--small .redux_field_th, .redux-container .row--image.image--small td {
      margin-left: 5.9em; }
    .redux-container .row--image.image--small .redux-field, .redux-container .row--image.image--small .redux_field_th, .redux-container .row--image.image--small .description {
      padding-top: 0; }
    .redux-container .row--image td .screenshot {
      position: absolute;
      top: 0;
      left: 0;
      border-color: transparent;
      overflow: hidden; }
      .redux-container .row--image td .screenshot img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-width: calc(100% - 0.5em);
        background: none;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 20; }
    .redux-container .row--image .redux_field_th {
      padding-right: 0; }
    .redux-container .row--image:after {
      content: " ";
      display: table;
      clear: both; }
  .redux-container .redux-container-editor {
    margin: 1em 0; }
  .redux-container .ace-editor-area {
    border: 2px solid #d9d9d9; }
    .redux-container .ace-editor-area.ace_focus {
      border-color: #0095ea; }
  .redux-container .wp-editor-wrap, .redux-container .wp-editor-wrap *, .redux-container .wp-editor-wrap *:before, .redux-container .wp-editor-wrap:after {
    box-sizing: content-box; }
  .redux-container .wp-editor-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .redux-container .wp-switch-editor {
    border: 2px solid #d9d9d9;
    border-bottom: 0;
    margin: 5px 0 0 0;
    padding: 9px 16px;
    top: 2px;
    height: 19px; }
    .redux-container .wp-switch-editor:first-child {
      margin-left: -2px; }
  .redux-container .wp-editor-container {
    border: 2px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    margin-top: -1px; }
    .redux-container .wp-editor-container .wp-editor-area {
      padding: 1em; }
  .redux-container .mce-statusbar {
    border-top: 1px solid #d9d9d9; }
  .redux-container .mce-path {
    padding: 0 8px 2px; }
  .redux-container #info-wpGrade_import_demodata_button {
    margin-top: 1em; }
  .redux-container .ace_cursor {
    border-left: 2px solid #262626; }
  .redux-container .redux-hint-qtip {
    float: none !important;
    display: inline-block;
    margin-left: 0.5em;
    border: 2px solid #d9d9d9;
    position: relative;
    top: 0.25em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    cursor: help; }
    .redux-container .redux-hint-qtip:before {
      content: "i";
      position: absolute;
      top: 0;
      left: 40%;
      color: #d9d9d9;
      font-size: 12px !important;
      pointer-events: none; }
    .redux-container .redux-hint-qtip > i {
      display: none; }
  .redux-container .form-table:after {
    content: " ";
    display: table;
    clear: both; }
  .redux-container .form-table tbody {
    margin-left: -2em; }
    .redux-container .form-table tbody tr {
      border-left: 2em solid transparent; }

#toplevel_page_rosa_options a:after {
  border-right-color: #47dad1 !important; }

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty, ul:empty, ol:empty, dl:empty, li:empty, th:empty, td:empty, tr:empty {
  display: none; }

/*------------------------------------*\
    $Reset menu
\*------------------------------------*/
.reset-menu_wrapper {
  position: relative;
  display: inline-block; }

#info_bar, .reset-menu_cog {
  display: inline-block;
  vertical-align: middle; }

#reset-menu_trigger {
  display: none; }
  #reset-menu_trigger:checked + .reset-menu .reset-menu_list {
    opacity: 1;
    pointer-events: auto; }

.reset-menu {
  position: absolute;
  top: auto;
  bottom: 100%;
  margin-bottom: 0.5em;
  right: -1em; }

.reset-menu_list {
  position: relative;
  opacity: 0;
  pointer-events: none;
  border-radius: 0.5em;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.3em 0.6em; }
  .reset-menu_list:after {
    content: "";
    position: absolute;
    bottom: -1.125em;
    right: 1.625em;
    border-width: 0.625em;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: white; }
  .reset-menu_list li {
    display: block; }
    .reset-menu_list li:first-child input[type="submit"] {
      border-bottom: 1px solid #d8d8d8;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .reset-menu_list li:nth-child(2) input[type="submit"] {
      border-top-right-radius: 0;
      border-top-left-radius: 0; }
  .reset-menu_list input[type="submit"] {
    padding: 0.75em;
    width: 100%;
    text-align: left;
    color: black;
    background: white;
    margin: 0;
    border: 0; }
    .reset-menu_list input[type="submit"]:hover {
      background: #ececec;
      color: black; }

body .redux-container .redux-main input[type="checkbox"] {
  width: 2.4em !important;
  height: 2.4em !important;
  outline: none;
  box-shadow: none;
  background: 0;
  color: white;
  position: relative; }
  body .redux-container .redux-main input[type="checkbox"]:before, body .redux-container .redux-main input[type="checkbox"]:after {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  body .redux-container .redux-main input[type="checkbox"]:before {
    content: "" !important;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.15em solid #d9d9d9; }
  body .redux-container .redux-main input[type="checkbox"]:after {
    content: "";
    width: 1em;
    height: 0.6em;
    border: 0 solid white;
    border-bottom-width: 0.3em;
    border-left-width: 0.3em;
    position: absolute;
    top: 0.8em;
    left: 0.75em;
    -webkit-transform: rotate(-45deg) scale(0.5);
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -o-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5); }
  body .redux-container .redux-main input[type="checkbox"]:checked:before {
    border-color: #0095ea;
    background: #0095ea; }
  body .redux-container .redux-main input[type="checkbox"]:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.redux-container .redux-container-checkbox {
  width: auto;
  float: right;
  margin-top: -3.2em; }
@media screen and (max-width: 1124px) {
  .redux-container .redux-sidebar .redux-group-tab-link-a span {
    top: 50%;
    left: 55px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    background: none;
    border: 0;
    color: white;
    box-shadow: none; } }

.redux-group-tab .redux-section-desc .description {
  display: none; }

.pop-up, .select2-drop {
  margin-top: 0.75em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.3em 0.6em;
  border: 2px solid;
  border-color: #d9d9d9 !important;
  border-radius: 0.5em;
  overflow: hidden; }

.qtip-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.3em 0.6em; }

.qtip-light {
  padding-top: 0;
  border: 2px solid #d9d9d9;
  border-radius: 0.5em; }
  .qtip-light:before {
    display: block;
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: #d9d9d9; }
  .qtip-light:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: white; }
  .qtip-light .qtip-tip {
    display: none !important; }
  .qtip-light .qtip-titlebar {
    background: #ececec;
    font-weight: bold;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ececec; }
  .qtip-light .qtip-content {
    padding: 0.5em 1em; }

#wpbody-content {
  padding-bottom: 0 !important; }

#wpfooter, #screen-meta-links {
  display: none; }

#info-live-customizer-button {
  width: 100%;
  max-width: 739px;
  margin: 0 auto;
  display: none; }
  .has-customizer #info-live-customizer-button {
    display: block !important; }
  #info-live-customizer-button .redux-info-desc {
    width: 100%;
    padding-top: 73%;
    position: relative; }
    #info-live-customizer-button .redux-info-desc:before {
      content: "";
      display: block;
      background: white url("../images/customizer-bg.png") no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #info-live-customizer-button .redux-info-desc .button {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      background: #0095ea;
      background-image: linear-gradient(135deg, #26d2d6, #0095ea);
      border: 0;
      font-size: 22px;
      padding: 1.3em 3em 1.1em;
      border-radius: 4.6em;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      #info-live-customizer-button .redux-info-desc .button:hover {
        background-image: none; }
      #info-live-customizer-button .redux-info-desc .button i {
        font-size: 15px;
        display: block;
        font-style: normal;
        color: white; }

.admin-color-fresh .redux-container-image_select img {
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  -ms-transition: border-color .2s ease-in-out;
  -o-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out; }
  .admin-color-fresh .redux-container-image_select img:hover {
    border-color: #919191; }

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img {
  border-color: #0095ea; }

.help-and-support li {
  margin-bottom: 48px !important; }

body .redux-container .redux-main tr.display-inline-block {
  float: left; }
body .redux-container .redux-main tr.display-block {
  display: block; }
body .redux-container .redux-main tr.layout-item {
  float: left; }
  body .redux-container .redux-main tr.layout-item .redux_field_th {
    padding-right: 1em; }
  body .redux-container .redux-main tr.layout-item td {
    padding-right: 1em; }
    body .redux-container .redux-main tr.layout-item td input.regular-text {
      max-wdith: 100%; }
body .redux-container .redux-main tr.one-half, body .redux-container .redux-main tr.one-half.select2-container {
  width: 50% !important; }
body .redux-container .redux-main tr.one-third, body .redux-container .redux-main tr.one-third.select2-container {
  width: 33.33% !important; }
body .redux-container .redux-main .clear-before {
  clear: both; }
body .redux-container .redux-main .mr {
  margin-right: 1em !important; }
body .redux-container .redux-main .mt-2 {
  margin-top: -2em !important; }
body .redux-container .redux-main .mt-3 {
  margin-top: -3em !important; }
